<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="{% url 'signout' %}" method="post" target="index">
        {% csrf_token %}
        <input type="submit" value="ログアウト" />
      </form>
    <!----フッター-->
    <footer>
        <div id="footer">
        
        </div>
    </footer>
    <!--/フッター-->
    <!-- footer -->
    <footer>
        <p>© All rights reserved by etou.com.</p>
    </footer>
  </body>
  </html>
</body>
</html>