<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="static/main/style.css">
</head>
<body>

    <!--ヘッダー-->
    <header>
        <div id="header">
            <ul>
                <br><br>
                <li><a href="home.html" target="home"><img src="static/logo.png" alt="home"></a>　投稿</li><br><br>
                <li><a href="search.html" target="home"><img src="static/search.png" alt="search"></a>　閲覧</li><br><br>
                <li><a href="memo_list.html" target="home"><img src="static/user.png" alt="user"></a>　{{ user }}</li><br><br>
                <li><a href="setting.html" target="home"><img src="static/setting.png" alt="setting"></a>　設定</li><br><br>
                <li><a href="/contact" target="home"><img src="static/bell.png" alt="bell"></a>　問い合わせ</li><br><br>
                
                
            </ul>
        </div>
    </header>
    <!--/ヘッダー-->
</body>
</html>